<div class="form-2">
<h1><span class="log-in">Log in</span> or <span class="create-account"><%= link_to "create account", new_user_path, method: :get %></span></h1>

<%=  form_for(:session, url: login_path) do |f| %>
  <p class="float">
    <%= f.label :username %>
    <%= f.text_field :username, placeholder: "Username" %>
  </p>

  <p class="float">
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "Password" %>
  </p>

  <p class="clearfix"> 
    
    <%= f.submit "Log In" %>
  </p>  
  </div> 
<% end %> 
