<div class="form-2">
<h1><span class="log-in">Create A New Account</span></h1>


<%= form_for(@user) do |f| %>

<p class="float">
    <%= f.label :full_name %>
    <%= f.text_field :full_name, placeholder: "Full Name" %>
  </p>

  <p class="float">
    <%= f.label :address %>
    <%= f.text_field :address, placeholder: "Address" %>
  </p> 
  
  <p class="float">
    <%= f.label :username %>
    <%= f.text_field :username, placeholder: "Username" %>
  </p>

  <p class="float">
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "Password" %>
  </p>

  <p class="float">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, placeholder: "Password confirmation" %>
  </p>

  <p class="clearfix"> 
    <%= f.submit 'Submit' %>
  </p>
  <% end %>

</div>