<h1>Order #<%= @order.id %></h1>
<% if current_user.admin? %>
  Customer: <%= @order.user.full_name %><br>
  Address: <%= @order.user.address %><br>
<% end %>

Order Date: <%= @order.format_created_at %><br>
Order Status: <%= @order.status %>
<% if @order.status == "cancelled" || @order.status == "completed" %>

  <%="on #{@order.format_updated_at}" %><br>
  <% end %><br>
Total Price: $<%= @order.format_total%><br>

<% @order.order_escapes.each do |order_escape| %>
 <%= link_to Escape.find(order_escape.escape_id).name, escape_path(order_escape.escape.id)%>
    Quantity: <%= order_escape.quantity%><br>
    Escape Price: $<%= order_escape.escape.format_price %><br>
    Subtotal: $<%= order_escape.format_total%><br><br>
<% end %>
<br>
