<h1>Order #<%= @order.id %></h1>


Order Date: <%= @order.format_created_at %><br>
Order Status: <%= @order.status %>
<% if @order.status == "cancelled" || @order.status == "completed" %>

  <%="on #{@order.format_updated_at}" %><br>
  <% end %><br>
Total Price: $<%= @order.format_total%><br>

<%#<%# @order.escapes.each do |escape| %>
  <%#= link_to escape.name, escape_path(escape) %>
<%# end %>

<% @order.order_escapes.each do |order_escape| %>
 <%= link_to Escape.find(order_escape.escape_id).name, escape_path(order_escape.escape.id)%>
  <p> Quantity: <%= order_escape.quantity%> Subtotal: $ <%= order_escape.format_total%><br><br>
<% end %>
<br>