<% if @escapes.empty? %>
  <%= render partial: "cart" %>
<% else %>
  <div class="cart items">
    <% @escapes.each do |escape| %>
      <h4><%= escape.name %></h4>

      <div class="img-btn">
        <p class="image"><%= image_tag escape.photo.url, class: "media-object img-rounded img-responsive" %></p>

        <div class="buttons">
          <%= button_to "Increase Quantity", cart_path({escape_id: escape.id}), method: :put, class: "btn orange-btn", params: {quantity: :increase} %>
          <%= button_to "Decrease Quantity", cart_path({escape_id: escape.id}), method: :put, class: "btn orange-btn", params: {quantity: :decrease} %>
          <%= button_to "Remove Escape", cart_path({escape_id: escape.id}), method: :delete, class: "btn btn-danger" %>
        </div>
      </div>

      <p>City: <%= escape.city %></p>
      <p>Price: $<%= escape.format_price %></p>
      <p>Description: <%= escape.description %></p>
      <p>Quantity: <%= @cart.quantity(escape.id) %></p>
      <p>Subtotal: $<%= @cart.subtotal(escape) %>
      <br><br>
    <% end %>
  </div>
  <hr>

  <div class="cart-total">
    <p>Cart Total: $<%= @cart.total_price %></p>
    <% if current_user %>
      <%= button_to "Checkout", orders_path, method: :post, class: "btn btn-green", params: {total: @cart.total_price}%>
      <% else %>
      <%= link_to "Login or Create Account to Proceed", login_path%>
      <% end %>
</div>
 <% end %>
