<!-- if else for empty cart, link back to escapes  -->
<!--  all added escapes listed here -->
<% if @escapes.empty? %>
<h5><%= "Your cart is empty" %></h5>
<% else %>

  <div class="cart items">
    <% @escapes.each do |escape| %>
      <h4><%= escape.name %></h4>
      <p><%= image_tag escape.image %></p>
      <p>City: <%= escape.city %></p>
      <p>Price: $<%= escape.price %></p>
      <p>Description: <%= escape.description %></p>
      <p>Quantity: <%= @cart.quantity(escape.id) %></p>
      <p>Subtotal: $<%= @cart.subtotal(escape) %>
      <%= button_to "Increase Quantity", cart_path({escape_id: escape.id}), method: :put, class: "btn orange-btn", params: {quantity: :increase} %>
      <%= button_to "Decrease Quantity", cart_path({escape_id: escape.id}), method: :put, class: "btn orange-btn", params: {quantity: :decrease} %>
      <%= button_to "Remove Escape", cart_path({escape_id: escape.id}), method: :delete, class: "btn btn-danger" %>
    <% end %>
  </div>
 <% end %>

<hr>
<% if @escapes.empty? %>
  <p>Cart Total: $0.00</p>
<% else %>
  <p>Cart Total: $<%= @cart.total_price %></p>
<% end %>

<% if current_user %>
  <%= button_to "Checkout", escapes_path, method: :get, class: "btn btn-green"%>
<% else %>
  <%= link_to "Login or Create Account to Proceed", login_path%>
<% end %>
