<h3>All Escapes</h3>
<h4> <%= link_to "Create a new Escape", new_admin_escape_path %></h4>
<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th><div class="edit-column">Edit</div></th>
  </tr>
  <% @escapes.each do |escape| %>
  <tr>
    <td><div id="image_<%= escape.id %>"><%= image_tag escape.photo.url(:thumb), class: :thumbnail %><div></td>
    <td><%= link_to escape.name, escape_path(escape) %></td>
    <td> <%= escape.description %> </td>
    <td> <%= escape.status %> </td>
    <td><div class="edit-column"><%= link_to "Edit", edit_admin_escape_path(escape) %></div></td>
  </tr>
  <% end %>

</table>
