<h1>Escapes for <%= @category.title %></h1>
<ul>
  <% @category.escapes.each do |escape| %>
    <div class="escape">
      <%= escape.name %>
        <ul>
          <li><%= escape.description %></li>
          <li><%= escape.price %></li>
          <li><%= escape.city %></li>
          <li><%= image_tag escape.photo.url(:medium) %></li>
        </ul>
    </div>
  <% end %>
</ul>
