<h1>Escapes</h1>

<ul>
  <% @escapes.each do |escape| %>
    <div class="escape">
      <h4><%= link_to escape.name, escape_path(escape) %></h4>
        <ul>
          <%= image_tag escape.image %>
          <li>Description: <%= escape.description %></li>
          <li>Price: $<%= sprintf('%.2f', escape.price) %></li>
          <li>City: <%= escape.city %></li>
          <%= button_to "Book Escape", cart_path(escape_id: escape.id), class: "btn btn-danger" %><br>

        </ul>
    </div>
  <% end %>
</ul>
